<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Boxer Database</title>

        <link rel="stylesheet" href="/css/master.css">

        <script defer src="/js/site.js"></script>
    </head>
    <body>

    </body>
</html>
